@page
@model CRUD_Razor_2_1.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "Book List - Index";
}

<br />
<h2>Book List</h2>
<br />

<a asp-page="Create" class="btn btn-primary" style="margin-bottom: 10px;">Create New Book</a>

@if (Model.Books.Count() > 0)
{
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Author)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Books.FirstOrDefault().ISBN)
            </th>
        </tr>
        @foreach(var book in Model.Books)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => book.Name)
            </td>
            <td>
                @Html.DisplayFor(m => book.Author)
            </td>
            <td>
                @Html.DisplayFor(m => book.ISBN)
            </td>
        </tr>
        }
    </table>
}
else
{
    <div>No Books in Database</div>
}